<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Електронна бібліотека</title>
    <link rel="stylesheet" href="\style.css">
</head>
<body>
<header>
    <h1>Електронна бібліотека</h1>
    <nav>
        <a href="/">Головна</a> |
        <a href="/users">Користувачі</a> |
        <a href="/books">Книги</a> |
        <a href="/authors">Автори</a> |
        <a href="/collections">Колекції</a> |
        <a href="/about">Про сайт</a>
    </nav>
</header>
<main>